<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title"><%= page_title %></h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form class="kt-form kt-form--label-right" id="editstaticproductFrm"
            action="<%= generateUrl('admin.product.catelog-update') %>" method="POST" enctype='multipart/form-data'>
            <div class="tab-content">

                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Catalog Title:</label>
                        <input type="text" name="catalog_title" class="form-control" value="<%=catagory.catalog_title%>">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Catalog File:</label>
                        <input type="file" name="catalog_file" id="catalog_file"
                            class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <%if(catagory.catalog_file != ''){%>
                            <a href="/uploads/catalogs/<%=catagory.catalog_file%>" target="_blank" rel="noopener noreferrer">
                                <img src="/uploads/pdf.png" alt="" height="80px">
                            </a>
                            <%}else{%>
                            <label>No file added</label>
                            <%}%>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Brochures Title:</label>
                        <input type="text" name="brochures_title" class="form-control" value="<%=catagory.brochures_title%>">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Brochures File:</label>
                        <input type="file" name="brochures_file" id="brochures_file"
                            class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <%if(catagory.brochures_file != ''){%>
                            <a href="/uploads/catalogs/<%=catagory.brochures_file%>" target="_blank" rel="noopener noreferrer">
                            <img src="/uploads/pdf.png" alt="" height="80px">
                        </a>
                        <%}else{%>
                            <label>No file added</label>
                            <%}%>
                    </div>
                    
                </div>


            </div>
            <!-- hidden user id -->
            <input type="hidden" name="id" value="<%=catagory._id%>">

                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- <a href="<%= generateUrl('admin.product.editstatic') %>"
                                            class="btn btn-secondary">Cancel</a> -->
                                        <button type="submit" class="btn btn-primary">Update</button>

                                    </div>
                                </div>
                            </div>
                        </div>
        </form>

    </div>
</div>