<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-subheader__main">
    <h3 class="kt-subheader__title"> <%= page_title %> </h3>
    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"><%= page_title %></h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--label-right" id="frmEditKnowledgeCenter"
      action="<%= generateUrl('admin.knowledgecenter.update') %>" method="POST" enctype='multipart/form-data'>
      <div class="kt-portlet__body">
        <div class="form-group row">
          <div class="col-lg-6">
            <label>Title</label>
            <input type="text" name="title" id="title" class="form-control required" required placeholder="Enter Title"
              value="<%= response.title %>">
          </div>
          <div class="col-lg-6">
            <label>Sub Category Name</label>
            <select name="sub_category_id" required class="form-control" id="sub_category_id">
              <option value="">Select a Sub Category</option>
              <%subCategory.map(data=>{%>
              <option value="<%=data._id%>" <%= (response.sub_category_id.toString() ==data._id)?"Selected":"" %>>
                <%=data.name%>
              </option>
              <%})%>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <label>Description:</label>
            <textarea class="form-control ckeditor" name="description" id="exampleTextarea"
              rows="3"><%= response.description %></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <label>Status</label>
            <select name="status" id="status" required class="form-control">
              <option value="Active" <%= (response.status =="Active")?"Selected":"" %>>Active</option>
              <option value="Inactive" <%= (response.status =="Inactive")?"Selected":"" %>>Inactive</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label>Index</label>
            <input type="text" name="index" id="index" class="form-control required"
                   pattern="^[0-9]*$" value="<%= response.index %>"
                   required placeholder="Enter Index (Number)">
          </div>
        </div>
        <div class="kt-portlet__foot">
          <div class="kt-form__actions">
            <div class="row">
              <div class="col-lg-6">
                <input type="hidden" name="id" value="<%= response._id%>">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="<%= generateUrl('admin.knowledgecenter.list') %>" class="btn btn-secondary">Cancel</a>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
